-  function objectValues(object){return Object.keys(object).map(function (key){return object[key];})};

each row in data
      |INSERT INTO articles VALUES ( #{'\'' + objectValues(row).join('\',\'')+ '\''});
      </br>
